.bt-form-select {
    --background-color: var(--fafhipdb, #f2f2f2);
    --disabled-background-color: var(--w0bfunmz, #f2f2f2);
    --outline-width: var(--m4vweagr, 1px);
    --outline-color: var(--aqqhi16f, transparent);
    --box-shadow: var(--ejw144jm, none);

    outline: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .control-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;

        label {
            color: var(--hjoqe90v, inherit);
            font-size: var(--xb4919f6, inherit);
            font-weight: var(--cfvnkwve, 500);
            margin: var(--r60agvhh, 0 0 0.675rem 0);
        }
    }

    [data-control] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        color: var(--slvxvxoa, inherit);
        background: var(--background-color);
        outline: var(--outline-width) solid var(--outline-color);
        padding: var(--x73pwbop, 1rem);
        border-radius: var(--b0whwn2z, 6px);
        box-shadow: var(--box-shadow);
        font-size: var(--yvwfinhn, inherit);

        .placeholder,
        .virtual-buffer {
            color: var(--qdw6a9fh, #f2f2f2);
            font-size: var(--bec4uu9b, var(--yvwfinhn));
        }

        & > span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex-grow: 1;
            line-height: 1.215;

            &:empty::after {
                content: '_';
                opacity: 0;
            }
        }

        .arrow {
            width: 1rem;
            flex-shrink: 0;
        }
    }

    &[data-has-focus] [data-control] {
        outline: var(--e2xlw36v, var(--outline-width)) solid var(--b1hj6140, var(--outline-color));
        background: var(--nfwwjp5t, var(--background-color));
        box-shadow: var(--d6zvc2x5, var(--box-shadow));
    }

    &[data-has-error] [data-control] {
        outline: var(--x63if0mt, var(--outline-width)) solid var(--q30w5vdm, var(--outline-color));
        background: var(--fv3912g0, var(--background-color));
        box-shadow: var(--cub29qik, var(--box-shadow));
    }

    &[data-has-error][data-has-focus] [data-control] {
        outline-width: var(--i5th4lyv, 2px);
    }

    &[data-is-disabled] {
        .label {
            color: var(--b9gdkbqj, #ccc);
            font-weight: var(--h9nc2z49, normal);
        }

        [data-control] {
            cursor: not-allowed;
            outline: var(--fa2n3mu4, none);
            background: var(--disabled-background-color);
            box-shadow: var(--nqf8p3jj, none);
        }
    }

    .dropdown {
        position: absolute;
        padding-block: 0;

        .dropdown-inner {
            margin: var(--gfniyg31, 0.5em);
        }

        .dropdown-scrollable {
            max-height: var(--l2qpv9pp, none);
            overflow: var(--s293skdg, auto);
        }
    }

    .nothing {
        padding: 1.25em;

        & > * + * {
            margin-top: .5em;
        }
    }

    /**
    * Floating label
    */
    &[data-has-floating-label] {
        label {
            position: absolute;
            top: 0;
            left: 1rem;
            padding: 0 0.4rem;
            color: #787878;
            font-size: 0.9rem;
            transition: all 0.2s ease-in-out;
            z-index: 1;

            span {
                display: block;
                transform: translateY(-50%);
            }
        }

        label::before {
            content: '';
            position: absolute;
            background: var(--background-color);
            height: var(--outline-width);
            transform: translateY(calc(var(--outline-width) * -1));
            top: 0;
            left: 0;
            right: 0;
        }

        &:not([data-has-placeholder]):not([data-has-focus]):not([data-has-value]) label {
            opacity: 0.6;
            top: 50%;
            padding: 0;
            font-size: inherit;
            pointer-events: none;
        }

        &:not([data-has-placeholder]):not([data-has-focus]):not([data-has-value]) label::before {
            opacity: 0;
        }

        &[data-is-disabled] label::before {
            --outline-width: var(--x63if0mt, var(--outline-width));
            height: var(--outline-width);
            transform: translateY(calc(var(--outline-width) * -1));
        }

        &[data-has-focus] label::before {
            --loc-outline-width: var(--e2xlw36v, var(--outline-width));;
            height: var(--loc-outline-width);
            transform: translateY(calc(var(--loc-outline-width) * -1));
        }

        &[data-has-error][data-has-focus] label::before {
            --loc-outline-width: var(--i5th4lyv, 2px);
            height: var(--loc-outline-width);
            transform: translateY(calc(var(--loc-outline-width) * -1));
        }
    }
}

/**
 * `<bt-form-select-choice>`
 */
:deep(.bt-form-select-choice) {
    --font-weight: var(--n8qgfkaz, inherit);

    cursor: pointer;
    padding: var(--gfniyg31, 0.75em 1.25em);
    border-radius: var(--fc98whwp);
    text-align: var(--u24wen4s, left);
    font-size: var(--kvgm83v1, 1rem);
    font-weight: var(--font-weight);
    background: var(--le0o7rip, transparent);

    &.focused {
        background: var(--bv27i7xd, #a9a9a9);
        color: var(--pe3tse2j, #222);
        font-weight: var(--t7ek2sv1, var(--font-weight));
    }

    &:hover {
        background: var(--r37vvg2b, #c5c5c5);
        color: var(--t60uhx31, #222);
        font-weight: var(--geucru1t, var(--font-weight));
    }

    &.selected {
        background: var(--g0jygszy, #222);
        color: var(--c1hisumg, #fff);
        font-weight: var(--dj3kr28d, var(--font-weight));
    }

    &.disabled {
        background: var(--l352sdz9, transparent);
        color: var(--h8cc7zof, #e2e2e2);
        font-weight: var(--s960zmjk, var(--font-weight));
        opacity: var(--wmx51gbn, 1);
        pointer-events: none;
    }
}

/**
 * `<bt-dropdown-divider>`
 */
:deep(.bt-dropdown-divider) {
    margin-bottom: 0 !important;
}

/**
 * `<bt-form-text>`
 */
:deep(.bt-form-text) .input-wrapper > [data-control] {
    padding: 0.75em;
    outline: none;
}
