.box {
    padding: 1.5rem 2rem;
    border-top: 1px solid #ddd;
}

.box::before {
    content: '';
    height: 1px;
    background: rgb(244, 244, 245);
    box-shadow: #fff 0 1px 0;
    display: block;
    margin-inline: -2rem;
    margin-block-start: -1.5rem;
    margin-block-end: 1.5rem;
}

.flex-lr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.left-side {
    display: flex;
    gap: 2rem;
}

.frame {
    pointer-events: none;
    padding: 1rem;
    flex-shrink: 0;
    width: 40%;
    max-width: 32rem;
    border-radius: 1rem;
    border: 2px solid #eee;
    box-shadow: 0 .1rem 0 #fff;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.flex-grow {
    flex-grow: 1;
}

.action-btn {
    cursor: pointer;
    border: 2px solid;
    border-radius: 1rem;
    display: flex;
}
