.bt-form-error {
    display: inline-flex;
    align-items: center;
    font-size: var(--k8jjjii5, 1rem);
    font-weight: var(--f4hkdo42, 500);
    background: var(--ij4ez5mn, #da4545);
    color: var(--zy1ry083, #fff);
    padding: var(--cms3942z, 0.3em 0.5em);
    border-radius: var(--zcdug7rz, 2px);
    position: relative;
    z-index: var(--w44fz79z, 10);

    .arrow,
    .arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: inherit;
    }

    .arrow {
        visibility: hidden;
    }

    .arrow::before {
        visibility: visible;
        content: '';
        transform: rotate(45deg);
    }

    &[data-popper-placement^='top'] .arrow {
        bottom: -4px;
    }

    &[data-popper-placement^='bottom'] .arrow {
        top: -4px;
    }

    &[data-popper-placement^='left'] .arrow {
        right: -4px;
    }

    &[data-popper-placement^='right'] .arrow {
        left: -4px;
    }

    :deep(.vc-error-map) {
        background: none;
        padding: 0;
        gap: 0;

        svg {
            display: none;
        }

        .errors {
            padding: 0;
        }
    }
}
