.bt-form-tiptap {
    --form-tiptap-blockquote-font-family: var(--bt-form-tiptap-blockquote-font-family, inherit);
    --form-tiptap-blockquote-font-size: var(--bt-form-tiptap-blockquote-font-size, 1em);
    --form-tiptap-blockquote-font-weight: var(--bt-form-tiptap-blockquote-font-weight, inherit);
    --form-tiptap-blockquote-font-style: var(--bt-form-tiptap-blockquote-font-style, italic);
    --form-tiptap-blockquote-text-color: var(--bt-form-tiptap-blockquote-text-color, var(--bt-text-color-light));
    --form-tiptap-blockquote-border-width: var(--bt-form-tiptap-blockquote-border-width, 3px);
    --form-tiptap-blockquote-border-style: var(--bt-form-tiptap-blockquote-border-style, solid);
    --form-tiptap-blockquote-border-color: var(--bt-form-tiptap-blockquote-border-color, var(--bt-color-gray-200));
}

.ProseMirror {
    blockquote {
        padding-left: 1em;
        font-family: var(--form-tiptap-blockquote-font-family);
        font-size: var(--form-tiptap-blockquote-font-size);
        font-weight: var(--form-tiptap-blockquote-font-weight);
        font-style: var(--form-tiptap-blockquote-font-style);
        color: var(--form-tiptap-blockquote-text-color);
        border-left-width: var(--form-tiptap-blockquote-border-width);
        border-style: var(--form-tiptap-blockquote-border-style);
        border-color: var(--form-tiptap-blockquote-border-color);
    }
}
