.bt-form-tiptap-font-family-dropdown {
    --form-tiptap-font-family-missing-font-color: var(--bt-form-tiptap-font-family-missing-font-color, var(--bt-color-red-500));
}

.bt-form-tiptap-font-family-dropdown {
    .font {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 0.5em;

        &.missing {
            --dropdown-text-color: var(--form-tiptap-font-family-missing-font-color);
        }

        &.focused {
            font-weight: bold;
        }

        .addons {
            display: flex;
            gap: 0.3em;
        }
    }
}
