.bt-form-text {
    --form-text-padding-x: var(--bt-form-text-padding-x, 1em);
    --form-text-padding-y: var(--bt-form-text-padding-y, 0.8em);
    --form-text-height: var(--bt-form-text-height, auto);
    --form-text-line-height: var(--bt-form-text-line-height, 1.4);
}

.bt-form-text :deep(.bt-form-base-input) {
    --bt-form-base-input-text-color: var(--bt-form-text-text-color);
    --bt-form-base-input-label-color: var(--bt-form-text-label-color);
    --bt-form-base-input-help-color: var(--bt-form-text-help-color);
    --bt-form-base-input-help-font-size: var(--bt-form-text-help-font-size);
    --bt-form-base-input-error-text-color: var(--bt-form-text-error-text-color);
    --bt-form-base-input-error-font-size: var(--bt-form-text-error-font-size);
    --bt-form-base-input-text-addon-color: var(--bt-form-text-text-addon-color);

    --bt-form-base-input-font-family: var(--bt-form-text-font-family);
    --bt-form-base-input-font-size: var(--bt-form-text-font-size);
    --bt-form-base-input-font-weight: var(--bt-form-text-font-weight);

    --bt-form-base-input-border-color: var(--bt-form-text-border-color);
    --bt-form-base-input-border-focus-color: var(--bt-form-text-border-focus-color);
    --bt-form-base-input-border-error-color: var(--bt-form-text-border-error-color);
    --bt-form-base-input-border-disabled-color: var(--bt-form-text-border-disabled-color);

    --bt-form-base-input-background-color: var(--bt-form-text-background-color);
    --bt-form-base-input-background-disabled-color: var(--bt-form-text-background-disabled-color);
    --bt-form-base-input-addon-background-color: var(--bt-form-text-addon-background-color);

    --bt-form-base-input-border-radius: var(--bt-form-text-border-radius);
    --bt-form-base-input-border-width: var(--bt-form-text-border-width);
    --bt-form-base-input-border-style: var(--bt-form-text-border-style);

    --bt-form-base-input-placeholder-x: var(--bt-form-text-padding-x, var(--form-text-padding-x));
    --bt-form-base-input-placeholder-y: var(--bt-form-text-padding-y, var(--form-text-padding-y));
}

.bt-form-text {
    width: 100%;

    [data-control] {
        width: 100%;
        padding: var(--form-text-padding-y) var(--form-text-padding-x);
        border: none;
        background: none;
        outline: none;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        box-sizing: border-box;
        cursor: inherit;
    }

    textarea {
        resize: vertical;
        height: var(--form-text-height);
        line-height: var(--form-text-line-height);

        &[data-resize-locked] {
            resize: none;
        }
    }
}
