.bt-button {
    font-size: var(--rbqdeb2b, 1rem);
    font-weight: var(--x7zq5fu1, 400);
    border-radius: var(--n7vo0li2, 4px);
    background: var(--hp8t4g7n, #ececec);
    border-color: var(--bki79qph, transparent);
    color: var(--w061g1oc, #ccc);
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-width: 1px;
    user-select: none;
    display: inline-flex;

    .inner {
        display: inline-flex;
        align-items: center;
        padding: var(--duk5ypj7, 0.75em 1.25em);
    }

    .inner > :deep(svg) {
        width: 1.3em;
        height: 1.3em;

        &:last-child:not(:first-child) {
            margin: -0.5em -0.4em -0.5em 0.4em;
        }

        &:first-child:not(:last-child) {
            margin: -0.5em 0.4em -0.5em -0.4em;
        }

        & > path {
            fill: var(--w061g1oc, #ccc);
        }
    }

    &:hover, &:active, &:focus {
        outline: none;
    }

    &:hover {
        background: var(--f32skrbh, #ececec);
        color: var(--ao5pftk1, #ccc);
        transition: background-color 100ms linear;

        :deep(svg) path {
            fill: var(--ao5pftk1, #ccc);
        }
    }

    &:active, &.active {
        background: var(--a24mj78i, #ececec);
        color: var(--b63ysblr, #ccc);
        transition: transform 30ms ease-in-out, background-color 70ms linear;

        &:not(.toggle-opened) {
            transform: translateY(0.1em);
        }

        .inner > :deep(svg) > path {
            fill: var(--b63ysblr, #ccc);
        }
    }

    &:focus {
        background: var(--hhzhcf6g, var(--f32skrbh));
        color: var(--j2djeyiw, var(--ao5pftk1));

        & :deep(svg) > path {
            fill: var(--j2djeyiw, var(--ao5pftk1));
        }
    }

    &[disabled] {
        pointer-events: none;
        background: var(--qylxhsrv, var(--hp8t4g7n));
        color: var(--jdc6v419, var(--w061g1oc));
        border-color: var(--vysj1nxl, var(--bki79qph));

        .inner > :deep(svg) > path {
            fill: var(--dw6rtsj7, var(--w061g1oc));
        }
    }

    .working-text {
        margin-left: 0.4em;
    }
}
